@inject IDialogService DialogService

<FluentCard>
    <FluentHeader>
        <h2>@PersonalityViewModel.CharacterName</h2>
    </FluentHeader>
    <FluentBodyContent>
        <div>
            <strong>Class:</strong> @PersonalityViewModel.ClassName <br />
            <strong>Level:</strong> @PersonalityViewModel.Level <br />
            <strong>Background:</strong> @PersonalityViewModel.Background <br />
            <strong>Player Name:</strong> @PersonalityViewModel.PlayerName <br />
            <strong>Race:</strong> @PersonalityViewModel.Race <br />
            <strong>Attitude:</strong> @PersonalityViewModel.Attitute <br />
            <strong>Experience:</strong> @PersonalityViewModel.Experience <br />
        </div>
    </FluentBodyContent>
    <FluentFooter>
        <FluentButton OnClick="EditPersonalityViewModel">Edit</FluentButton>
    </FluentFooter>
</FluentCard>


