@inherits EditableCardAbstraction<PropertiesViewModel, EditPropertiesDialog>

<EditableCardBase Title="@StringResources.Character_Properties" EditButtonText="@EditButtonText" EditButtonIcon="@EditButtonIcon" EditButtonCallback="EditAsync" CardClickCallback="EditAsync" HasValidationErrors="@(ViewModel.HasValidationErrors)">
    <br />
    <div><strong>@StringResources.Character_Strength:</strong> @ViewModel.Strength </div>
    <div><strong>@StringResources.Character_Strength (@StringResources.Stat_Modifier):</strong> @(ViewModel.Strength.ToInt()) </div>
    <br />
    <div><strong>@StringResources.Character_Skillfulness:</strong> @ViewModel.Skillfulness </div>
    <div><strong>@StringResources.Character_Skillfulness (@StringResources.Stat_Modifier):</strong> @(ViewModel.Skillfulness.ToInt()) </div>
    <br />
    <div><strong>@StringResources.Character_Constitution:</strong> @ViewModel.Constitution </div>
    <div><strong>@StringResources.Character_Constitution (@StringResources.Stat_Modifier):</strong> @(ViewModel.Constitution.ToInt()) </div>
    <br />
    <div><strong>@StringResources.Character_Intelligence:</strong> @ViewModel.Intelligence </div>
    <div><strong>@StringResources.Character_Intelligence (@StringResources.Stat_Modifier):</strong> @(ViewModel.Intelligence.ToInt()) </div>
    <br />
    <div><strong>@StringResources.Character_Wisdom:</strong> @ViewModel.Wisdom </div>
    <div><strong>@StringResources.Character_Wisdom (@StringResources.Stat_Modifier):</strong> @(ViewModel.Wisdom.ToInt()) </div>
    <br />
    <div><strong>@StringResources.Character_Charisma:</strong> @ViewModel.Charisma </div>
    <div><strong>@StringResources.Character_Charisma (@StringResources.Stat_Modifier):</strong> @(ViewModel.Charisma.ToInt()) </div>
    <br />
    <div><strong>@StringResources.Character_Inspiration:</strong> @ViewModel.Inspiration </div>
    <br />
    <div><strong>@StringResources.Character_TrainingBonus:</strong> @ViewModel.TrainingBonus </div>
    <br />
    <div><strong>@StringResources.Character_PassiveWisdomRecognition:</strong> @ViewModel.PassiveWisdomRecognition </div>
</EditableCardBase>
