@typeparam TValidateable where TValidateable : IValidateable
@implements IDialogContentComponent<EditDialogParameter<TValidateable>>

<FluentDialogHeader>
    <FluentStack VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center">
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
    <br />
    <FluentDivider />
</FluentDialogHeader>

<FluentDialogBody>
    <EditForm EditContext="@_editContext">
        <FluentStack 
            Orientation="Orientation.Vertical" 
            VerticalAlignment="VerticalAlignment.Center" 
            HorizontalAlignment="HorizontalAlignment.Center">
            @ChildContent
        </FluentStack>

        <div style="color: var(--error);">
            <br />
            <FluentDivider />
            <FluentValidationSummary />
        </div>
    </EditForm>
</FluentDialogBody>

<FluentDialogFooter>
    <FluentGrid Justify="JustifyContent.SpaceAround" Style="width: 100%;">
        <FluentGridItem xs="12">
            <FluentSpacer />
        </FluentGridItem>
        <FluentGridItem xs="12">
            <FluentButton Style="width: 100%;" OnClick="CloseDialogAsync" Appearance="Appearance.Accent" IconStart="(new Icons.Regular.Size20.Send())">@SubmitButtonText</FluentButton>
        </FluentGridItem>
        @if (Content.PreviousCard is not null)
        {
            <FluentGridItem xs="6">
                <FluentButton Style="width: 100%;" OnClick="CloseDialogAndEditPreviousAsync" IconStart="(new Icons.Regular.Size20.ArrowLeft())">@Content.PreviousCard.DialogTitle</FluentButton>
            </FluentGridItem>
        }
        @if (Content.NextCard is not null)
        {
            <FluentGridItem xs="6">
                <FluentButton Style="width: 100%;" OnClick="CloseDialogAndEditNextAsync" IconEnd="(new Icons.Regular.Size20.ArrowRight())">@Content.NextCard.DialogTitle</FluentButton>
            </FluentGridItem>
        }
    </FluentGrid>
</FluentDialogFooter>
    