@implements IDialogContentComponent<EditDialogParameter<PropertiesViewModel>>

<EditDialogBase Content="@Content">
    <FluentTextField InputMode="InputMode.Numeric" @bind-Value="Content.ViewModel.Strength" Label="@($"{StringResources.Character_Strength} ({StringResources.Character_Properties_AbilityScore})")" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.ViewModel.Strength)" />
    <div>@StringResources.Character_Strength (@StringResources.Character_Properties_StatModifier): @(Content.ViewModel.Strength.ToInt() is int strength ? DndRulesService.CalculateStatModifier(strength) : string.Empty) </div>
    <br />

    <FluentTextField InputMode="InputMode.Numeric" @bind-Value="Content.ViewModel.Skillfulness" Label="@($"{StringResources.Character_Skillfulness} ({StringResources.Character_Properties_AbilityScore})")" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.ViewModel.Skillfulness)" />
    <div>@StringResources.Character_Skillfulness (@StringResources.Character_Properties_StatModifier): @(Content.ViewModel.Skillfulness.ToInt() is int skillfulness ? DndRulesService.CalculateStatModifier(skillfulness) : string.Empty) </div>
    <br />

    <FluentTextField InputMode="InputMode.Numeric" @bind-Value="Content.ViewModel.Constitution" Label="@($"{StringResources.Character_Constitution} ({StringResources.Character_Properties_AbilityScore})")" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.ViewModel.Constitution)" />
    <div>@StringResources.Character_Constitution (@StringResources.Character_Properties_StatModifier): @(Content.ViewModel.Constitution.ToInt() is int constitution ? DndRulesService.CalculateStatModifier(constitution) : string.Empty) </div>
    <br />

    <FluentTextField InputMode="InputMode.Numeric" @bind-Value="Content.ViewModel.Intelligence" Label="@($"{StringResources.Character_Intelligence} ({StringResources.Character_Properties_AbilityScore})")" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.ViewModel.Intelligence)" />
    <div>@StringResources.Character_Intelligence (@StringResources.Character_Properties_StatModifier): @(Content.ViewModel.Intelligence.ToInt() is int intelligence ? DndRulesService.CalculateStatModifier(intelligence) : string.Empty) </div>
    <br />

    <FluentTextField InputMode="InputMode.Numeric" @bind-Value="Content.ViewModel.Wisdom" Label="@($"{StringResources.Character_Wisdom} ({StringResources.Character_Properties_AbilityScore})")" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.ViewModel.Wisdom)" />
    <div>@StringResources.Character_Wisdom (@StringResources.Character_Properties_StatModifier): @(Content.ViewModel.Wisdom.ToInt() is int wisdom ? DndRulesService.CalculateStatModifier(wisdom) : string.Empty) </div>
    <br />

    <FluentTextField InputMode="InputMode.Numeric" @bind-Value="Content.ViewModel.Charisma" Label="@($"{StringResources.Character_Charisma} ({StringResources.Character_Properties_AbilityScore})")" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.ViewModel.Charisma)" />
    <div>@StringResources.Character_Charisma (@StringResources.Character_Properties_StatModifier): @(Content.ViewModel.Charisma.ToInt() is int charisma ? DndRulesService.CalculateStatModifier(charisma) : string.Empty) </div>
    <br />

    <FluentTextField InputMode="InputMode.Numeric" @bind-Value="Content.ViewModel.Inspiration" Label="@StringResources.Character_Inspiration" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.ViewModel.Inspiration)" />
    <br />

    <FluentTextField InputMode="InputMode.Numeric" @bind-Value="Content.ViewModel.TrainingBonus" Label="@StringResources.Character_TrainingBonus" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.ViewModel.TrainingBonus)" />
    <br />

    <FluentTextField InputMode="InputMode.Numeric" @bind-Value="Content.ViewModel.PassiveWisdomRecognition" Label="@StringResources.Character_PassiveWisdomRecognition" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.ViewModel.PassiveWisdomRecognition)" />
</EditDialogBase>
