@implements IDialogContentComponent<PersonalityViewModel>

<DialogBase TViewModel="PersonalityViewModel" Content="@Content">
    <FluentTextField @bind-Value="Content.CharacterName" Label="@StringResources.Character_Name" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.CharacterName)" />
    <br />

    <FluentInputFile Id="my-file-uploader"
                    DragDropZoneVisible="true"
                    Mode="InputFileMode.Stream"
                    Accept="image/*"
                    OnFileUploaded="@OnFileUploadedAsync"
                    Style="height: 250px; width: 250px;">
        <ChildContent>
            <label for="my-file-uploader">
                <FluentIcon Value="@(new @Icons.Regular.Size24.ArrowUpload())" />
            </label>
            <label for="my-file-uploader">@StringResources.CharacterEditor_UploadImage</label>
            @if (string.IsNullOrWhiteSpace(Content.Base64EncodedImage) is false)
            {
                <br />
                <FluentDivider />
                <br />
                <img src="data:image/jpeg;base64,@Content.Base64EncodedImage" style="height: 100px; width: 100px;" alt="Base64 Image" />
                <br />
            }
        </ChildContent>
        
    </FluentInputFile>
    <br />

    <FluentTextField @bind-Value="Content.ClassName" Label="@StringResources.Character_Personality_Class" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.ClassName)" />
    <br />

    <FluentTextField InputMode="InputMode.Numeric" @bind-Value="Content.Level" Label="@StringResources.Character_Personality_Level" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.Level)" />
    <br />

    <FluentTextArea @bind-Value="Content.Background" Label="@StringResources.Character_Personality_Background" Immediate="true" />
    <ValidationMessage For="@(() => Content.Background)" />
    <br />

    <FluentTextField @bind-Value="Content.PlayerName" Label="@StringResources.Character_Personality_PlayerName" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.PlayerName)" />
    <br />

    <FluentTextField @bind-Value="Content.Race" Label="@StringResources.Character_Personality_Race" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.Race)" />
    <br />

    <FluentTextField @bind-Value="Content.Attitude" Label="@StringResources.Character_Personality_Attitude" Immediate="true" />
    <ValidationMessage For="@(() => Content.Attitude)" />
    <br />

    <FluentTextField InputMode="InputMode.Numeric" @bind-Value="Content.Experience" Label="@StringResources.Character_Personality_Experience" Immediate="true" Required="true" title="@StringResources.Validation_Tooltip_Required" />
    <ValidationMessage For="@(() => Content.Experience)" />
</DialogBase>
